// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000;
$white: #fff;
$blue: #299af7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$light-orange: #f6993f;
$orange: #fd7e14;
$light-yellow: #ffed4a;
$yellow:#ffc107;
$green: #28a745;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$avacado: #568203;
$azur: #007FFF;
$bright-green: #66FF00;
$blue-violet: #8A2BE2;
$success:#28a745;
$warning:#ffc107;
$info:#17a2b8;
$danger:#dc3545;
$light:#f8f9fa;
$dark:#343a40;

.success{
    color: $success;
}
.warning{
    color: $warning;
}
.info{
    color: $info;
}
.danger{
    color: $danger;
}
.light{
    color: $light;
}
.dark{
    color: $dark
}
.black{
    color: $black;
}
.avacado{
    color: $avacado;
}

.azur{
    color: $azur;
}

.bright-green{
    color: $bright-green;
}
.blue-violet{
    color: $blue-violet;
}
.white{
    color: $white;
}
.blue{
    color: $blue;
}
.indigo{
    color: $indigo;
}
.purple{
    color: $purple;
}
.pink{
    color: $pink;
}
.red{
    color: $red;
}
.orange{
    color: $orange;
}
.light-orange{
    color: $light-orange;
}
.yellow{
    color: $yellow;
}
.light-yellow{
    color: $light-yellow;
}
.green{
    color: $green;
}
.teal{
    color: $teal;
}
.cyan{
    color: $cyan;
}
